---
const { title, subtitle, imgSrc, link, bookmarked } = Astro.props;
---

<div class="navCardContainer">
  <div class="fullNavCard">
    <div class="navCardBox">
      <div style={{ backgroundImage: `url(${imgSrc})` }} class="navCardImage">
      </div>
      <div class="overlay"></div>
      <div class="navCardTitle">{title}</div>
      <a href={link} class="link"></a>
      <div class="navCardBookmark"></div>
    </div>
    <p class="navCardSubtitle">{subtitle}</p>
  </div>
</div>

<script>
  const pageNavCards = document.getElementsByClassName("navCardBookmark");

  for (let i = 0; i < pageNavCards.length; i++) {
    pageNavCards[i].setAttribute("id", "pageNavCard" + i);

    pageNavCards[i].addEventListener("click", () => {
      let navCardClicked = false;
      const pageNavCard = document.getElementById(`pageNavCard${i}`);
      if (pageNavCard instanceof HTMLElement) {
        if (navCardClicked === false) {
          pageNavCard.style.backgroundImage =
            "url('../../graphics/bookmarkOn.svg')";
          navCardClicked = true;
        } else {
          pageNavCard.style.backgroundImage =
            "url('../../graphics/bookmarkOff.svg')";
          navCardClicked = false;
        }
      }
    });
  }

  // pageNavCards.Map((navCard) => console.log(navCard));
</script>

<style>
  .navCardBookmark {
    width: 15%;
    aspect-ratio: 1/2.5;
    background-image: url("../../graphics/bookmarkOff.svg");
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0;
    margin-right: 10%;
    top: 0;
  }
  .navCardContainer {
    width: var(--NavCardSize);
    max-width: calc(var(--NavCardSize) * 1.4);
    display: grid;
  }

  .navCardContainer > * {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
  }

  .fullNavCard {
    width: 85%;
    aspect-ratio: 1/1.7;
    font-size: var(--NavCardTitleSize);
    transform-origin: center;
  }

  .navCardBox {
    width: 100%;
    height: 85%;
    clip-path: inset(0% round 8% 8% 8% 8%);
    display: grid;
    position: relative;
  }
  .navCardBox > * {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }

  .navCardImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transform-origin: center center;
    filter: blur(0.5px) grayscale(20%);
    transition: transform 0.5s, filter 0.25s;
  }
  .overlay {
    height: 110%;
    width: 110%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0.95) 90%
    );
  }

  .navCardTitle {
    width: 100%;
    padding-inline: calc(var(--NavCardSize) * 0.08);
    align-self: end;
    margin-bottom: 7%;
    font-size: calc(var(--NavCardSize) * 0.1);
    font-family: var(--SubHeadingFont);
    text-overflow: ellipsis;
    /* text-transform: uppercase; */
    text-align: center;
    color: var(--BackgroundColor);
    transition: margin-bottom 0.5s;
  }

  .link {
    width: 100%;
    height: 100%;
  }

  .navCardSubtitle {
    width: 100%;
    height: 13%;
    text-align: center;
    padding-top: 3.5%;
    padding-inline: 5%;
    color: var(--ShadowGreen);
    overflow: clip;
    font-size: calc(var(--NavCardSize) * 0.07);
    font-family: var(--BodyFont);
    line-height: 1;
  }

  /*Hover Transforms*/

  .navCardBox:hover {
    cursor: pointer;
  }

  .navCardBox:hover > .navCardImage {
    transform: scale(1.05);
    filter: blur(0px) grayscale(0%) saturate(115%);
  }

  .navCardBox:hover > .navCardTitle {
    margin-bottom: 9%;
  }

  .navCardBox:hover > .overlay {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0.95) 90%
    );
  }
</style>
