---
import NavCard from "./NavCard.astro";
const { NavCardList } = Astro.props;
---

<div class="navCardGrid">
  {
    NavCardList.map(
      (GenNavCard: {
        title: string;
        subtitle: string;
        imgSrc: string;
        link: string;
      }) => {
        return (
          <NavCard
            title={GenNavCard.title}
            subtitle={GenNavCard.subtitle}
            imgSrc={GenNavCard.imgSrc}
            link={GenNavCard.link}
          />
        );
      }
    )
  }
</div>

<style>
  .navCardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--NavCardSize));
    width: var(--NavGridMargin);
    max-width: calc(var(--NavCardSize) * 5);
    justify-content: center;
  }
</style>

<script>
  const navCardGrid = document.getElementsByClassName(
    "navCardGrid"
  )[0] as HTMLDivElement;

  const gridLength = navCardGrid.childElementCount;

  console.log(gridLength);

  if (gridLength >= 5) {
    navCardGrid.style.maxWidth = "calc(var(--NavCardSize) * 5)";
  } else {
    navCardGrid.style.maxWidth = `calc(var(--NavCardSize) * ${gridLength})`;
  }
</script>
